@use '../../../partials/mixins' as *;
@use '../../../partials/typography' as *;
@use '../../../partials/variables' as *;

.logged-in {
  height: calc(100vh - 9rem);
  overflow: scroll;
  &__icon-background {
    position: absolute;
    top: 4.8rem;
    right: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    @include tablet {
      top: 5.1rem;
      right: 1.2rem;
    }
    &--close {
      position: absolute;
      background-color: $neon-green;
      top: 4.8rem;
      right: 1rem;
      width: 2.8rem;
      height: 2.8rem;
      transform: translateX(-14rem);
      transition: 0.25s;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.5rem 0 0 0.5rem;
      z-index: 999;

      @include tablet {
        right: 4.8rem;
        top: 5.1rem;
      }
    }
  }
  &__modal-button {
    width: 2rem;
    z-index: 1;
    cursor: pointer;
    &:hover {
      filter: brightness(0) invert(1);
    }

    &--close {
      width: 2rem;
      z-index: 1;
      cursor: pointer;
      transform: rotate(180deg);
      transition: 0.25s;
      &:hover {
        filter: brightness(0) invert(1);
      }
    }
  }
}
