@use '../../../partials/mixins' as *;
@use '../../../partials/typography' as *;
@use '../../../partials/variables' as *;

.edit-modal{
    z-index: 2;
    background-color: white;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0.5rem -0.5rem 0.25rem 0 #0b4d05bd;
    padding: 1rem 2rem;
    font-weight: 700;
    font-style: italic;

    &__background{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(19,24,44,0.7);
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__exit{
        margin: 0;
        text-align: right;
        &:hover{
            color: red;
            cursor: pointer;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
    }

    &__label{
        margin-bottom: 0.2rem;
    }

    &__input{
        margin-bottom: 0.5rem;
        border: solid 0.1rem rgb(218, 218, 218);
        box-shadow: 0px 0.125rem 0.313rem rgba(19, 24, 44, 0.1);
        border-radius: 0.3rem;
        height: 2rem;
        padding: 0.5rem;
        font-family: 'Lato';
        font-style: italic;
        font-weight: 700;

        &:active, &:focus {
            outline: none;
            border: $neon-green solid 0.1rem;
            border-radius: 0.3rem;
            font-style: normal;
            font-weight: 500;
        }
    }

    &__button-box{
        margin: 0.5rem 0rem 0.2rem;
        padding-top: 1rem;
        width: 100%;
        border-top: solid 0.1rem rgba(237, 237, 237, 0.591);

    }
    &__button{
        font-style: italic;
        font-weight: 700;
        width: 100%;
        border: solid 0.1rem rgb(218, 218, 218);
        background-color: white;
        color: grey;
        height: 2rem;
        border-radius: 0.3rem;
        box-shadow: 0px 0.125rem 0.313rem rgba(19, 24, 44, 0.1);
        cursor: pointer;

        &:hover{
            color: $neon-green;
            transform: scale(1.05);
        }
    }

}