@use '../../partials/mixins' as *;
@use '../../partials/typography' as *;
@use '../../partials/variables' as *;

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.contact-us {
  padding: 30vh 4rem;
  background: linear-gradient(175deg,$neon-green,$neon-green,$neon-green,white,white);
  background-size: 180% 110%;
  animation: gradient 2s infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__background {
    background-color: white;
    height: calc(115vh - (9rem + 3.977rem));
    overflow: scroll;
  }

  &__header {
    font-style: italic;
    margin: 0 0 0.5rem 0;
    font-size: 2.3rem;
    &:hover{
      transform: scale(1.1);
    }
  }

  &__sub-header{
    font-style: italic;
    margin: 0 0 0.5rem 0;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(57, 57, 57);
  }

  &__icons{
      margin-top: 1rem;
      width: 35%;
      min-width: 12rem;
      display: flex;
      justify-content: space-between;
      
  }
  &__icon{
      width: 7vw;
      max-width: 5rem;
      &:hover{
        cursor: pointer;
        filter: brightness(0) invert(1);
    }
  }

}
